<template>
  <div class="">
    <div class="flex w-full justify-between">
      <div class="">
        <h1 class="text-3xl font-semibold">Edit Kemitraan</h1>
      </div>
    </div>
    <div class="h-10 bg-gray-100 my-5 flex justify-between">
      <div class="flex w-2/5 items-center">
        <router-link
          to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
          <svg
            class="w-6 h-6"
            fill="#fff"
            viewBox="0 0 24 24"
            id="job"
            data-name="Flat Line"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#fff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <rect
                id="secondary"
                x="5"
                y="5"
                width="14"
                height="18"
                rx="1"
                transform="translate(26 2) rotate(90)"
                style="fill: #fff; stroke-width: 2"
              ></rect>
              <path
                id="primary"
                d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2m6,7V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                style="stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2"
              ></path>
            </g>
          </svg>
          <span class="ml-3">Manajemen Oprec Posisi</span>
        </router-link>
        <span>></span>
        <router-link
          to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
          <span class="ml-3">Edit</span>
        </router-link>
      </div>
    </div>
    <div class="mt-5">
      <form @submit.prevent="submitForm" action="">
        <div class="flex w-full">
          <div class="w-1/2 space-y-5">
            <div class="my-auto items-center md:w-full">
              <label for="">Nama Mitra</label>
              <div class="relative md:w-3/4">
                <input
                  v-model="formData.nama"
                  autocomplete="off"
                  type="text"
                  name="nama"
                  placeholder="Jabatan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Deskripsi Mitra</label>
              <div class="relative md:w-3/4">
                <textarea
                  v-model="formData.deskripsi"
                  id="message"
                  name="deskripsi"
                  rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="ketik deskripsi posisi..."
                ></textarea>
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Visi Mitra</label>
              <div class="relative md:w-3/4">
                <textarea
                  v-model="formData.visi"
                  id="message"
                  name="visi"
                  rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="ketik deskripsi posisi..."
                ></textarea>
              </div>
            </div>
            <div class="my-auto items-center md:w-full">
              <label for="">Misi Mitra</label>
              <div class="relative md:w-3/4">
                <textarea
                  v-model="formData.misi"
                  id="message"
                  name="misi"
                  rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="ketik deskripsi posisi..."
                ></textarea>
              </div>
            </div>
          </div>
          <div class="w-1/2 space-y-5">
            <div class="my-auto items-center md:w-full">
              <label for="">Email Mitra</label>
              <div class="relative md:w-3/4">
                <input
                  v-model="formData.emailMitra"
                  autocomplete="off"
                  type="text"
                  name="emailMitra"
                  placeholder="Ketik jumlah kuota"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Jenis Mitra</label>
              <div class="relative md:w-3/4">
                <input
                  v-model="formData.jenis"
                  autocomplete="off"
                  type="text"
                  name="jenis"
                  placeholder="contoh: 1 bulan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Lingkup</label>
              <div class="relative md:w-3/4">
                <input
                  v-model="formData.lingkup"
                  autocomplete="off"
                  type="text"
                  name="lingkup"
                  placeholder="contoh: 1 bulan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Logo</label>
              <div class="relative md:w-3/4">
                <input
                  v-model="formData.logo"
                  autocomplete="off"
                  type="text"
                  name="logo"
                  placeholder="contoh: 1 bulan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                />
              </div>
            </div>

            <div class="">
              <button class="bg-[#7F56D9] w-2/5 text-white py-3 px-7 font-semibold rounded-lg">
                Simpan
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { getMitraDetails, editMitra } from '../../../services/service'
export default {
  data() {
    return {
      formData: {
        nama: '',
        deskripsi: '',
        visi: '',
        misi: '',
        emailMitra: '',
        jenis: '',
        lingkup: '',
        logo: ''
      }
    }
  },
  async mounted() {
    try {
      const token = localStorage.getItem('access_token')
      if (!token) {
        throw new Error('Token tidak tersedia di localStorage')
      }

      const mitraDetails = await getMitraDetails(token)
      console.log(mitraDetails)


      this.formData = {
        nama: mitraDetails.mitra.nama || '',
        deskripsi: mitraDetails.mitra.deskripsi || '',
        visi: mitraDetails.mitra.visi || '',
        misi: mitraDetails.mitra.misi || '',
        emailMitra: mitraDetails.mitra.emailMitra || '',
        jenis: mitraDetails.mitra.jenis || '',
        lingkup: mitraDetails.mitra.lingkup || '',
        logo: mitraDetails.mitra.logo || ''
      }
    } catch (error) {
      console.error('Failed to fetch mitra details:', error)
    }
  },
  methods: {
    async submitForm() {
      try {
        const token = localStorage.getItem('access_token')

        if (!token) {
          throw new Error('Token tidak tersedia di localStorage')
        }

        const result = await editMitra(token, this.formData)
        this.$router.push('/admin/kemitraan')
        console.log('Mitra updated successfully:', result)
      } catch (error) {
        console.error('Failed to update mitra:', error)
      }
    }
  }
}
</script>
<style lang=""></style>
