<template>
  <div class="h-[42rem] overflow-y-scroll">
    <div class="flex w-full justify-between">
      <div>
        <h1 class="text-3xl font-semibold">Informasi Mitra</h1>
      </div>
    </div>
    <div class="h-10 bg-gray-100 my-5 flex justify-between">
      <div class="flex w-2/5 items-center">
        <router-link
          to="/admin/kemitraan"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
          <svg
            class="w-6 h-6"
            fill="#000"
            viewBox="0 0 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#fff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M0 26.016q0 0.832 0.576 1.408t1.44 0.576h5.984v-1.984h-0.992q-0.416 0-0.704-0.288t-0.288-0.704 0.288-0.704 0.704-0.32h4q0.384 0 0.704 0.32t0.288 0.704-0.288 0.704-0.704 0.288h-0.992v1.984h12v-1.984h-1.024q-0.384 0-0.704-0.288t-0.288-0.704 0.288-0.704 0.704-0.32h4q0.416 0 0.704 0.32t0.32 0.704-0.32 0.704-0.704 0.288h-0.992v1.984h6.016q0.8 0 1.408-0.576t0.576-1.408v-20q0-0.832-0.576-1.408t-1.408-0.608h-28q-0.832 0-1.44 0.608t-0.576 1.408v20zM4 22.016v-14.016h14.016v14.016h-14.016zM7.040 20h7.936q-1.12-1.472-2.976-1.856v-0.32q0.896-0.352 1.44-1.088t0.576-1.728v-1.984q0-1.248-0.896-2.144t-2.112-0.864-2.144 0.864-0.864 2.144v1.984q0 0.96 0.544 1.728t1.472 1.088v0.32q-1.856 0.384-2.976 1.856zM20 22.016v-2.016h2.016v2.016h-2.016zM20 18.016v-2.016h10.016v2.016h-10.016zM20 14.016v-2.016h4v2.016h-4zM20 10.016v-2.016h6.016v2.016h-6.016zM26.016 14.016v-2.016h4v2.016h-4zM28 10.016v-2.016h2.016v2.016h-2.016z"
              ></path>
            </g>
          </svg>
          <span class="ml-3">Kemitraan</span>
        </router-link>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex justify-between">
        <div class="flex items-center space-x-5">
          <img
            class="w-36 h-36"
            src="https://bemfilkom.ub.ac.id/assets/LogoNoText-3ea023eb.png"
            alt=""
          />
          <div v-if="mitra">
            <h1 class="text-xl font-bold">{{ mitra.nama }}</h1>
            <h1>{{ mitra.jenis }}</h1>
            <h1>{{ mitra.emailMitra }}</h1>
          </div>
          <div v-else>
            <h1>Belum ada data</h1>
          </div>
        </div>
        <div class="block space-y-10">
          <div>
            <!-- Modal toggle -->
            <button
              data-modal-target="default-modal"
              data-modal-toggle="default-modal"
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button"
            >
              Toggle modal
            </button>

            <!-- Main modal -->
            <div
              id="default-modal"
              tabindex="-1"
              aria-hidden="true"
              class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
            >
              <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                  <!-- Modal header -->
                  <div
                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                  >
                    <h3 class="text-xl font-semibold text-gray-900">Terms of Service</h3>
                    <button
                      type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-hide="default-modal"
                    >
                      <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </div>
                  <!-- Modal body -->
                  <div class="p-4 md:p-5 space-y-4">
                    <p class="text-base leading-relaxed text-gray-500">
                      Dengan mengajukan permohonan untuk menjadi mitra, Anda setuju untuk mematuhi
                      syarat dan ketentuan berikut ini:
                      <br />
                      1. Anda bertanggung jawab untuk memberikan informasi yang akurat dan terbaru
                      dalam formulir pengajuan ini.
                      <br />
                      2. Kami berhak untuk menolak atau menarik kembali pengajuan kemitraan tanpa
                      pemberitahuan terlebih dahulu.
                      <br />
                      3. Segala keputusan terkait dengan penerimaan dan penolakan kemitraan
                      sepenuhnya ada di tangan kami dan tidak dapat diganggu gugat.
                      <br />
                      4. Anda setuju untuk mematuhi semua kebijakan dan prosedur yang berlaku selama
                      menjadi mitra kami.
                      <br />
                      Dengan mengirimkan formulir ini, Anda menyatakan bahwa Anda telah membaca,
                      memahami, dan menyetujui syarat dan ketentuan di atas.
                    </p>
                  </div>

                  <!-- Modal footer -->
                  <div
                    class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
                  >
                    <form @submit.prevent="ajukanMitra">
                      <button
                      data-modal-hide="default-modal"

                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                      >
                        Setujui
                      </button>
                    </form>
                    <button
                      data-modal-hide="default-modal"
                      type="button"
                      class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                    >
                      Decline
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <router-link
              to="/admin/kemitraan/edit"
              class="border-[#7F56D9] text-black border-2 px-5 py-3"
            >
              Edit Profil
            </router-link>
          </div>
        </div>
      </div>
      <div class="my-10 flex space-x-10">
        <div v-if="mitra" class="w-1/2 space-y-3 ">
          <div>
            <h1 class="text-xl font-bold">Deskripsi</h1>
            <p class="text-justify text-[#667085]">
              {{ mitra.deskripsi }}
            </p>
          </div>
          <div>
            <h1 class="text-xl font-bold">Visi</h1>
            <p class="text-justify text-[#667085]">
              {{ mitra.visi }}
            </p>
          </div>
          <div>
            <h1 class="text-xl font-bold">Misi</h1>
            <p class="text-justify text-[#667085]">
              {{ mitra.misi }}
            </p>
          </div>
        </div>
        <div v-else class="w-1/2">
          <p>Data mitra tidak ditemukan.</p>
        </div>
        <div v-if="mitra" class="w-1/2 space-y-3">
          <div class="grid grid-cols-2 w-1/2">
            <h1 class="text-[#98A2B3]">Id Lembaga</h1>
            <h1 class="text-[#667085] font-semibold">: {{ mitra.id }}</h1>
          </div>
          <div class="grid grid-cols-2 w-1/2">
            <h1 class="text-[#98A2B3]">Nama Lembaga</h1>
            <h1 class="text-[#667085] font-semibold">: {{ mitra.nama }}</h1>
          </div>
          <div class="grid grid-cols-2 w-1/2">
            <h1 class="text-[#98A2B3]">Jenis Kemitraan</h1>
            <h1 class="text-[#667085] font-semibold">: {{ mitra.jenis }}</h1>
          </div>
          <div class="grid grid-cols-2 w-1/2">
            <h1 class="text-[#98A2B3]">Email</h1>
            <h1 class="text-[#667085] font-semibold">: {{ mitra.emailMitra }}</h1>
          </div>
          <div class="grid grid-cols-2 w-1/2">
            <h1 class="text-[#98A2B3]">Status Kemitraan</h1>
            <h1 class="text-[#667085] font-semibold">: {{ mitra.status }}</h1>
          </div>
        </div>
        <div v-else class="w-1/2">
          <p>Data mitra tidak ditemukan.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getMitraDetails, ajukanMitra } from '../../../services/service'

export default {
  data() {
    return {
      showDropDown: false,
      showSide: true,
      mitra: null,
    }
  },
  async mounted() {
    await this.fetchMitra()
  },
  methods: {
    async fetchMitra() {
      try {
        const token = localStorage.getItem('access_token')
        if (!token) {
          throw new Error('Access token not found')
        }

        const mitraResponse = await getMitraDetails(token)
        this.mitra = mitraResponse.mitra
        console.log('Mitra details fetched successfully:', this.mitra)
      } catch (error) {
        console.error('Failed to fetch mitra details:', error)
      }
    },
    toggleSideBar() {
      this.showSide = !this.showSide
    },
    toggleDrop() {
      this.showDropDown = !this.showDropDown
    },
    async ajukanMitra() {
      try {
        const token = localStorage.getItem('access_token')
        if (!token) {
          throw new Error('Access token not found')
        }
        const ajukanResponse = await ajukanMitra(token)
        await this.fetchMitra()


        console.log('Mitra successfully submitted for approval.', ajukanResponse)
       
      } catch (error) {
        console.error('Failed to submit mitra:', error)
      }
    }
  }
}
</script>
