<script>
import { getProfile } from '../services/service';

export default {

    data() {
        return {
            showDropDown: false,
            showSide: true,
            profile: null
        };
    },
    async mounted() {
        await this.fetchProfile();
    },
    methods: {
        async fetchProfile() {
            try {
                const token = localStorage.getItem('access_token');
                if (!token) {
                    throw new Error('Access token not found');
                }

                this.profile = await getProfile(token);
                console.log('Profile fetched successfully:', this.profile);
            } catch (error) {
                console.error('Failed to fetch profile:', error);
            }
        }
    }
};
</script>
<template>
    <div class="">
        <div class="mt-5">
            <div class="flex justify-between">
                <div class="flex items-center space-x-5">
                    <img class="w-36 h-36" src="https://bemfilkom.ub.ac.id/assets/LogoNoText-3ea023eb.png" alt="" />
                    <div v-if="profile">
                        <h1 class="text-xl font-bold">{{ profile.name }}</h1>
                        <h1 class="flex space-x-3 items-center h-full">
                            <span class="text-[#6941C6] px-3 rounded-xl py-1 bg-gray-200">
                                {{ profile.role }}
                            </span>
                            <span>
                                {{ profile.mahasiswa.jurusan }}
                            </span>
                        </h1>
                        <h1>{{ profile.email }}</h1>
                    </div>
                    <div v-else>
                        <h1>Belum ada data</h1>
                    </div>
                </div>
    
            </div>
    
        </div>
        <div class="h-10 bg-gray-100 my-5 flex justify-between">
            <div class="flex w-2/5 text-xl items-center space-x-5">
                <router-link to="/user/profil/data" v-slot="{ isActive }"
                    class="inline-flex w-fit relative items-center py-[10px] px-[10px] w-full font-semibold rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
                    <span class="ml-3">Informasi</span>
                    <div v-if="isActive" class="w-full h-1 bg-[#7F56D9] absolute bottom-0"></div>
                </router-link>
                <router-link to="/user/profil/dokumen" v-slot="{ isActive }"
                    class="inline-flex w-fit relative items-center py-[10px] px-[10px] w-full font-semibold rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
                    <span class="ml-3">Dokumen</span>
                    <div v-if="isActive" class="w-full h-1 bg-[#7F56D9] absolute bottom-0"></div>
                </router-link>
                <router-link to="/user/profil/aktivitas" v-slot="{ isActive }"
                    class="inline-flex w-fit relative items-center py-[10px] px-[10px] w-full font-semibold rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
                    <span class="ml-3">Aktivitas</span>
                    <div v-if="isActive" class="w-full h-1 bg-[#7F56D9] absolute bottom-0"></div>
                </router-link>
            </div>
        </div>
        <div>
            <router-view></router-view> <!-- Ini akan menampilkan komponen anak dari /user -->
          </div>
    </div>
</template>
