<template>
  <div class="w-full h-screen flex justify-center items-center">
    <div class="lg:w-1/2 w-5/6 w-full shadow-xl rounded-lg p-10">
      <h1 class="text-xl pb-10 font-semibold">Masuk</h1>
      <form @submit.prevent="handleSubmit" action="" class="space-y-5">
        <div class="my-auto items-center md:w-full">
          <label for="">Email</label>
          <div class="relative">
            <input
              v-model="formData.email"
              autocomplete="off"
              type="email"
              name="email"
              placeholder="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
              required
            />
          </div>
        </div>
        <div class="my-auto items-center md:w-full">
          <label for="">Password</label>
          <div class="relative">
            <input
              v-model="formData.password"
              autocomplete="off"
              type="text"
              name="password"
              placeholder="username"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
              required
            />
          </div>
        </div>
        <div class="mt-10">
          <button class="bg-[#7F56D9] py-3 text-white w-full rounded-lg">Masuk</button>
        </div>
        <div class="font-semibold mt-10 flex justify-center space-x-1">
          <h1>Belum punya akun?</h1>
          <router-link to="/register" class="text-blue-500">Daftar</router-link>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { loginForm } from '../../services/service'

export default {
  data() {
    return {
      formData: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    async handleSubmit() {
      try {
        const response = await loginForm(this.formData)
        console.log('Login success:', response)
        localStorage.setItem('access_token', response.access_token)
        if (response.role === 'mitra') {
          this.$router.push('/admin/dashboard')
        } else {
          this.$router.push('/user/profil/data')
        }
      } catch (error) {
        console.error('Login failed:', error)
        alert('Gagal login. Periksa kembali username dan password Anda.')
      }
    }
  }
}
</script>
<style lang=""></style>
