<template>
  <div class="w-full h-80 mt-80 flex justify-center items-center">
    <div class="lg:w-1/2 w-5/6 shadow-lg p-10 relative">
      <div class="mb-10 font-semibold" v-if="currentStep > 1">
        <button @click="prevStep" class="text-blue-500">Kembali</button>
      </div>
      <div class="pb-10">
        <h1 class="text-xl font-semibold">Buat Akun</h1>
        <p>Pastikan anda memilih peran yang sesuai</p>
      </div>
      <form @submit.prevent="nextStep" class="space-y-5">
        <!-- Step 1 -->
        <div v-if="currentStep === 1">
          <h1 class="text-xl font-semibold">Pilih Peran Anda</h1>
          <div class="my-auto items-center md:w-full">
            <label for="">
              Pilih peran yang paling sesuai. Pilihan peran akan berpengaruh ke opsi yang tersedia.
            </label>
            <div class="relative">
              <select
                v-model="selectedRole"
                id="role"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              >
                <option value="" disabled>Pilih peran</option>
                <option value="mahasiswa">Mahasiswa</option>
                <option value="mitra">Mitra</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Step 2 -->
        <div v-if="currentStep === 2">
          <h1 class="text-xl font-semibold">Informasi Umum</h1>
          <div class="my-auto items-center md:w-full">
            <label for="name">Nama Lengkap</label>
            <div class="relative">
              <input
                v-model="formData.name"
                id="name"
                autocomplete="off"
                type="text"
                name="name"
                placeholder="Masukkan Nama Lengkap Anda Sesuai KTP"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>
          <div class="my-auto items-center md:w-full">
            <label for="email">Alamat Email</label>
            <div class="relative">
              <input
                v-model="formData.email"
                id="email"
                autocomplete="off"
                type="email"
                name="email"
                placeholder="Masukkan alamat email aktif"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>
          <div class="my-auto items-center md:w-full">
            <label for="password">Kata Sandi</label>
            <div class="relative">
              <input
                v-model="formData.password"
                id="password"
                autocomplete="off"
                type="password"
                name="password"
                placeholder="Masukkan Kata Sandi"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>
        </div>

        <!-- Step 3 for Mahasiswa -->
        <div v-if="currentStep === 3 && selectedRole === 'mahasiswa'">
          <h1 class="text-xl font-semibold">Informasi Mahasiswa</h1>
          <div class="my-auto items-center md:w-full">
            <label for="nim">NIM</label>
            <div class="relative">
              <input v-model="formData.nim"
                id="nim"
                autocomplete="off"
                type="text"
                name="nim"
                placeholder="NIM"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>


          <div class="my-auto items-center md:w-full">
            <label for="nim">Jurusan</label>
            <div class="relative">
              <input v-model="formData.jurusan"
                id="nim"
                autocomplete="off"
                type="text"
                name="jurusan"
                placeholder="NIM"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="nim">Fakultas</label>
            <div class="relative">
              <input v-model="formData.fakultas"
                id="nim"
                autocomplete="off"
                type="text"
                name="fakultas"
                placeholder="NIM"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="nim">Angkatan</label>
            <div class="relative">
              <input v-model="formData.angkatan"
                id="nim"
                autocomplete="off"
                type="text"
                name="angkatan"
                placeholder="NI"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="nim">Nomor Whatsapp</label>
            <div class="relative">
              <input v-model="formData.no_wa"
                id="nim"
                autocomplete="off"
                type="text"
                name="no_wa"
                placeholder="Dimulai dari 62"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="nim">Alamat</label>
            <div class="relative">
              <input v-model="formData.alamat"
                id="nim"
                autocomplete="off"
                type="text"
                name="alamat"
                placeholder="Alamat"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>


        </div>

        <!-- Step 3 for Mitra -->
        <div v-if="currentStep === 3 && selectedRole === 'mitra'">
          <h1 class="text-xl font-semibold">Informasi Mitra</h1>
          <div class="my-auto items-center md:w-full">
            <label for="namaMitra">Nama Mitra</label>
            <div class="relative">
              <input
                v-model="formData.nama"
                id="namaMitra"
                autocomplete="off"
                type="text"
                name="nama"
                placeholder="Nama Mitra"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>
          <div class="my-auto items-center md:w-full">
            <label for="namaMitra">Deskripsi Mitra</label>
            <div class="relative">
              <textarea
                v-model="formData.deskripsi"
                id="message"
                rows="4"
                name="deskripsi"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="ketik deskripsi posisi..."
              ></textarea>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="namaMitra">Visi Mitra</label>
            <div class="relative">
              <textarea
                v-model="formData.visi"
                id="message"
                rows="4"
                name="visi"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="ketik deskripsi posisi..."
              ></textarea>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="namaMitra">Misi Mitra</label>
            <div class="relative">
              <textarea
                v-model="formData.misi"
                id="message"
                rows="4"
                name="misi"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="ketik deskripsi posisi..."
              ></textarea>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for=""> Jenis Mitra </label>
            <div class="relative">
              <select
                v-model="formData.jenis"
                name="jenis"
                id="role"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              >
                <option value="" disabled>jenis mitra</option>
                <option value="organisasi">Organisasi</option>
                <option value="kepanitiaan">Kepanitiaan</option>
              </select>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="namaMitra">Lingkup</label>
            <div class="relative">
              <input
                v-model="formData.lingkup"
                id="namaMitra"
                autocomplete="off"
                type="text"
                name="lingkup"
                placeholder="Nama Mitra"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="email">Alamat Email Mitra</label>
            <div class="relative">
              <input
                v-model="formData.emailMitra"
                id="email"
                autocomplete="off"
                type="email"
                name="emailMitra"
                placeholder="Masukkan alamat email aktif"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="namaMitra">Logo Mitra</label>
            <div class="relative">
              <input
                v-model="formData.logo"
                id="namaMitra"
                autocomplete="off"
                type="text"
                name="logo"
                placeholder="Nama Mitra"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                required
              />
            </div>
          </div>
        </div>

        <div class="mt-10">
          <button class="bg-[#7F56D9] py-3 text-white w-full rounded-lg">
            {{ currentStep < 3 ? 'Selanjutnya' : 'Selesai' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { submitForm } from '../../services/service'
export default {
  data() {
    return {
      currentStep: 1,
      selectedRole: '',
      formData: {
        name: '',
        email: '',
        password: '',
        nim: '',
        nama: '',
        jenis: '',
        lingkup: '',
        logo: '',
        deskripsi: '',
        visi: '',
        misi: '',
        emailMitra: '',
        jurusan: '',
        fakultas: '',
        no_wa: '',
        angkatan: '',
        alamat: '',
        role: ''
      }
    }
  },


  methods: {
    nextStep() {
      if (this.currentStep === 1 && this.selectedRole) {
        this.currentStep++
      } else if (this.currentStep === 2) {
        this.currentStep++
      } else if (this.currentStep === 3) {
        this.handleSubmit()
      }
      this.saveFormData()
    },
    prevStep() {
      if (this.currentStep > 1) {
        this.currentStep--
      }
      this.saveFormData()
    },
    saveFormData() {
      sessionStorage.setItem('formData', JSON.stringify(this.formData))
    },

    async handleSubmit() {
      this.formData.role = this.selectedRole

      if (this.selectedRole === 'mitra') {
        delete this.formData.nim
        delete this.formData.angkatan
        delete this.formData.jurusan
        delete this.formData.fakultas
        delete this.formData.alamat
        delete this.formData.no_wa

        if (!this.formData.lingkup) {
          alert('Lingkup is required for role "mitra".')
          return
        }
      }else{
        delete this.formData.nama
        delete this.formData.emailMitra
        delete this.formData.jenis
        delete this.formData.visi
        delete this.formData.misi
        delete this.formData.deskripsi
        delete this.formData.logo
        delete this.formData.lingkup
      }

      try {
        await submitForm(this.formData)
        this.$router.push('/login')
      } catch (error) {
        console.error('Error submitting form:', error)
        alert('Failed to submit form')
      }
    }
  }
}
</script>
