<template>
    <div>
        <h1 class="text-3xl font-semibold">Lengkapi Dokumen</h1>
        <div class="mt-5">
            <form @submit.prevent="handleSubmit">
                <div class="flex w-full">
                    <div class="w-1/2 space-y-5">
                        <div class="my-auto items-center md:w-full">
                            <label for="cv">Curriculum Vitae</label>
                            <div class="relative md:w-3/4">
                                <input
                                    type="file"
                                    name="cv"
                                    ref="cvFile"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                    required
                                />
                            </div>
                        </div>

                        <div class="my-auto items-center md:w-full">
                            <label for="certificate">Dokumen Sertifikat</label>
                            <div class="relative md:w-3/4">
                                <input
                                    type="file"
                                    name="sertifikat"
                                    ref="certificateFile"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                    <div class="w-1/2 space-y-5">
                        <div class="my-auto items-center md:w-full">
                            <label for="portfolio">Dokumen Portofolio</label>
                            <div class="relative md:w-3/4">
                                <input
                                    type="file"
                                    name="portfolio"
                                    ref="portfolioFile"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                    required
                                />
                            </div>
                        </div>
                        <div class="">
                            <button class="bg-[#7F56D9] w-2/5 text-white py-3 px-7 font-semibold rounded-lg">Simpan</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    methods: {
        async handleSubmit() {
            const formData = new FormData();
            formData.append('cv', this.$refs.cvFile.files[0]);
            formData.append('sertifikat', this.$refs.certificateFile.files[0]);
            formData.append('portofolio', this.$refs.portfolioFile.files[0]);

            try {
                const token = localStorage.getItem('access_token');
                if (!token) {
                    throw new Error('Access token not found');
                }

                const response = await axios.post('http://127.0.0.1:8000/api/berkas/tambah', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'Authorization': `Bearer ${token}`
                    }
                });
                this.$router.push('/user/profil/dokumen')


                console.log('Response:', response.data);
            } catch (error) {
                console.error('Error submitting form:', error);
            }
        }
    }
};
</script>
