<template>
  <div class="">


    <div class="mt-5">
      <div class="flex w-full ">
        <div class="">
          <div class="">
            <router-link to="/user/profil/dokumen/add" class="bg-[#7F56D9] text-white px-5 py-3 font-semibold rounded-lg">
              <span>+</span>
              <span class="ml-3">Tambah Dokumen</span>
            </router-link>
          </div>
  
          <ul class="block py-5">
            <li class="space-y-10" v-for="(file, index) in this.berkas" :key="index">
              <div class="bg-white shadow-lg p-5">
                <div class="text-xl font-semibold flex">
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.5 10.8711V20C19.5 20.5967 19.2629 21.169 18.841 21.591C18.419 22.0129 17.8467 22.25 17.25 22.25H6.75C6.15326 22.25 5.58097 22.0129 5.15901 21.591C4.73705 21.169 4.5 20.5967 4.5 20V5C4.5 4.40326 4.73705 3.83097 5.15901 3.40901C5.58097 2.98705 6.15326 2.75 6.75 2.75H11.3789C11.7766 2.75006 12.158 2.90804 12.4392 3.18922L19.0608 9.81078C19.342 10.092 19.4999 10.4734 19.5 10.8711Z"
                      stroke="#6941C6" stroke-width="1.5" stroke-linejoin="round" />
                    <path
                      d="M12 3.125V8.75C12 9.14782 12.158 9.52936 12.4393 9.81066C12.7206 10.092 13.1022 10.25 13.5 10.25H19.125M8.25 14H15.75M8.25 17.75H15.75"
                      stroke="#6941C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
  
                  <h1>
                    Dokumen CV
                  </h1>
                </div>
                <a target="_blank" :href="baseUrl + file.cv">
                  curriculum_vitae_{{ file.mahasiswa.fakultas }}
                </a>
              </div>
              <div class="bg-white shadow-lg p-5">
                <div class="text-xl font-semibold flex">
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.5 10.8711V20C19.5 20.5967 19.2629 21.169 18.841 21.591C18.419 22.0129 17.8467 22.25 17.25 22.25H6.75C6.15326 22.25 5.58097 22.0129 5.15901 21.591C4.73705 21.169 4.5 20.5967 4.5 20V5C4.5 4.40326 4.73705 3.83097 5.15901 3.40901C5.58097 2.98705 6.15326 2.75 6.75 2.75H11.3789C11.7766 2.75006 12.158 2.90804 12.4392 3.18922L19.0608 9.81078C19.342 10.092 19.4999 10.4734 19.5 10.8711Z"
                      stroke="#6941C6" stroke-width="1.5" stroke-linejoin="round" />
                    <path
                      d="M12 3.125V8.75C12 9.14782 12.158 9.52936 12.4393 9.81066C12.7206 10.092 13.1022 10.25 13.5 10.25H19.125M8.25 14H15.75M8.25 17.75H15.75"
                      stroke="#6941C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
  
                  <h1>
                    Dokumen Sertifikat
                  </h1>
                </div>
                <a target="_blank" :href="baseUrl + file.sertifikat">
                  sertifikat_{{ file.mahasiswa.fakultas }}
                </a>
              </div>
              <div class="bg-white shadow-lg p-5">
                <div class="text-xl font-semibold flex">
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.5 10.8711V20C19.5 20.5967 19.2629 21.169 18.841 21.591C18.419 22.0129 17.8467 22.25 17.25 22.25H6.75C6.15326 22.25 5.58097 22.0129 5.15901 21.591C4.73705 21.169 4.5 20.5967 4.5 20V5C4.5 4.40326 4.73705 3.83097 5.15901 3.40901C5.58097 2.98705 6.15326 2.75 6.75 2.75H11.3789C11.7766 2.75006 12.158 2.90804 12.4392 3.18922L19.0608 9.81078C19.342 10.092 19.4999 10.4734 19.5 10.8711Z"
                      stroke="#6941C6" stroke-width="1.5" stroke-linejoin="round" />
                    <path
                      d="M12 3.125V8.75C12 9.14782 12.158 9.52936 12.4393 9.81066C12.7206 10.092 13.1022 10.25 13.5 10.25H19.125M8.25 14H15.75M8.25 17.75H15.75"
                      stroke="#6941C6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
  
                  <h1>
                    Dokumen Portofolio
                  </h1>
                </div>
                <a target="_blank" :href="baseUrl + file.portofolio">
                  portofolio_{{ file.mahasiswa.fakultas }}
                </a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
import { getBerkas } from '../../../services/service';

export default {
  data() {
    return {
      berkas: null,
      baseUrl: 'http://127.0.0.1:8000/storage/lampiran/',
    };
  },
  mounted() {
    this.fetchBerkas();
  },
  methods: {
    async fetchBerkas() {
      try {
        const token = localStorage.getItem('access_token');
        if (!token) {
          throw new Error('Access token not found');
        }
        const berkasResponse = await getBerkas(token);
        this.berkas = berkasResponse.posisi;
        console.log('Berkas detail:', this.berkas);
      } catch (error) {
        console.error('Failed to fetch berkas detail:', error);
      }
    },
  },
};
</script>


<style lang=""></style>