<template>
  <div class="w-screen h-screen flex">
    <div class="w-[400px] h-full bg-[#7F56D9] text-white" v-show="showSide">
      <div class="h-[50px] bg-[#7F56D9] flex justify-start items-center">
        <div class="px-[20px]">
          <h3 class="font-bold text-xl">User Dashboard</h3>
        </div>
      </div>
      <div class="h-[calc(100vh-50px)] bg-[#7F56D9] py-[20px]">
        <div class="flex flex-col justify-between h-full px-[20px] space-y-[10px]">
          <div class="flex flex-col justify-between space-y-[10px]">
            <router-link
              to="/user/profil/data"
              class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-200 hover:text-gray-800 transition duration-400 ease-in-out"
            >
              <svg
                width="20"
                height="22"
                viewBox="0 0 20 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 21V11H13V21M1 8L10 1L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H3C2.46957 21 1.96086 20.7893 1.58579 20.4142C1.21071 20.0391 1 19.5304 1 19V8Z"
                  stroke="#D0D5DD"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="ml-3">Home</span>
            </router-link>
           
            <router-link
              to="/user/recruitment"
              class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
            >
              <svg
                class="w-6 h-6"
                fill="#fff"
                viewBox="0 0 24 24"
                id="job"
                data-name="Flat Line"
                xmlns="http://www.w3.org/2000/svg"
                stroke="#fff"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <rect
                    id="secondary"
                    x="5"
                    y="5"
                    width="14"
                    height="18"
                    rx="1"
                    transform="translate(26 2) rotate(90)"
                    style="fill: #fff; stroke-width: 2"
                  ></rect>
                  <path
                    id="primary"
                    d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2m6,7V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                    style="
                      fill: #7f56d9;
                      stroke: #fff;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 2;
                    "
                  ></path>
                </g>
              </svg>
              <span class="ml-3">Recruitment</span>
            </router-link>
          </div>
          <div class="h-[50px]">
            <div>
              <router-link
                to="/setting"
                class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
              >
                <svg
                  aria-hidden="true"
                  class="mr-2 w-[25px] h-[25px] fill-current"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                Setting
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-full bg-gray-400">
      <div
        class="h-[50px] bg-gray-100 flex items-center shadow-sm px-[20px] w- py-[10px] z-10 border-b"
      >
        <!-- Hambuger menu -->
        <div class="cursor-pointer w-[30px]" @click="toggleSideBar">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-[25px] h-[25px]">
            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </div>
        <div class="w-[calc(100%-30px)] flex justify-end">
          <!-- User login -->
          <div class="w-[200px]">
            <div class="flex items-center justify-start space-x-4" @click="toggleDrop">
              <img
                class="w-10 h-10 rounded-full border-2 border-gray-50"
                src="https://yt3.ggpht.com/hqsxh-Vnbw9OK0_X4DAWh6RkmEUVnL-82SRCyh-IKr9fIXR8zhUCRdBEwgWWL_14q_L8Piod=s108-c-k-c0x00ffffff-no-rj"
                alt=""
              />
              
              <div v-if="profile">
                <p>{{ profile.name }}</p>
                <p>{{ profile.role }}</p>
              </div>
              <div v-else>
                <p>Loading profile...</p>
              </div>
            </div>
            <div
              v-show="showDropDown"
              class="absolute right-[10px] z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
            >
              <div class="py-1 text-left" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                  <button @click="handleLogout"
                    type="submit"
                    class="text-gray-700 block w-full px-4 py-2 text-left text-sm"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-3"
                  >
                    Sign out
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[calc(100vh-50px)] bg-gray-50 p-[20px]">
        <div class="rounded-md p-[20px] h-full">
          <router-view></router-view>
        </div>
      </div>
    </div>

    <!-- Main  -->
  </div>
</template>


<script>
import { getProfile, logout } from '../../services/service';

export default {
  data() {
    return {
      showDropDown: false,
      showSide: true,
      profile: null
    };
  },
  async mounted() {
    await this.fetchProfile();
  },
  methods: {
    async fetchProfile() {
      try {
        const token = localStorage.getItem('access_token');
        if (!token) {
          throw new Error('Access token not found');
        }

        this.profile = await getProfile(token);
        console.log('Profile fetched successfully:', this.profile);
      } catch (error) {
        console.error('Failed to fetch profile:', error);
      }
    },
    async handleLogout() {
      try {
        await logout();
        this.$router.push('/login');
      } catch (error) {
        console.error('Failed to logout:', error);
        alert('Gagal logout.');
      }
    },
    toggleSideBar() {
      this.showSide = !this.showSide;
    },
    toggleDrop() {
      this.showDropDown = !this.showDropDown;
    }
  }
};
</script>

<style scoped>
/* Tambahkan gaya CSS yang diperlukan */
</style>
