<template>
    <div class="">
      <div class="flex w-full justify-between">
        
      </div>
      
      <div class="">
        <form @submit.prevent="submitForm" action="">
          <div class="flex w-full">
            <div class="w-1/2 space-y-5">
              <div class="my-auto items-center md:w-full">
                <label for="">Nama Mahasiswa</label>
                <div class="relative md:w-3/4">
                  <input disabled
                    v-model="formData.name"
                    autocomplete="off"
                    type="text"
                    name="name"
                    placeholder="Jabatan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>

              <div class="my-auto items-center md:w-full">
                <label for="">Jurusan</label>
                <div class="relative md:w-3/4">
                  <input
                    v-model="formData.jurusan"
                    autocomplete="off"
                    type="text"
                    name="jurusan"
                    placeholder="Jabatan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>

              <div class="my-auto items-center md:w-full">
                <label for="">Fakultas</label>
                <div class="relative md:w-3/4">
                  <input
                    v-model="formData.fakultas"
                    autocomplete="off"
                    type="text"
                    name="fakultas"
                    placeholder="Jabatan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>
  
              <div class="my-auto items-center md:w-full">
                <label for="">NIM</label>
                <div class="relative md:w-3/4">
                  <input
                    v-model="formData.nim"
                    autocomplete="off"
                    type="text"
                    name="nim"
                    placeholder="Jabatan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>
  
              
            </div>
            <div class="w-1/2 space-y-5">
              <div class="my-auto items-center md:w-full">
                <label for="">Angkatan</label>
                <div class="relative md:w-3/4">
                  <input
                    v-model="formData.angkatan"
                    autocomplete="off"
                    type="text"
                    name="angkatan"
                    placeholder="Ketik jumlah kuota"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>
  
              <div class="my-auto items-center md:w-full">
                <label for="">No Whatsapp</label>
                <div class="relative md:w-3/4">
                  <input
                    v-model="formData.no_wa"
                    autocomplete="off"
                    type="text"
                    name="no_wa "
                    placeholder="contoh: 1 bulan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>
  
              <div class="my-auto items-center md:w-full">
                <label for="">Alamat </label>
                <div class="relative md:w-3/4">
                  <input
                    v-model="formData.alamat"
                    autocomplete="off"
                    type="text"
                    name="alamat"
                    placeholder="contoh: 1 bulan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div>
  
              <!-- <div class="my-auto items-center md:w-full">
                <label for="">Foto Profil</label>
                <div class="relative md:w-3/4">
                  <input
                    autocomplete="off"
                    type="file"
                    name="logo"
                    placeholder="contoh: 1 bulan"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  />
                </div>
              </div> -->
  
              <div class="">
                <button class="bg-[#7F56D9] w-2/5 text-white py-3 px-7 font-semibold rounded-lg">
                  Simpan
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import { getProfile, editMahasiswa } from '../../../services/service'
  export default {
    data() {
      return {
        user: null,
        formData: {
          name: '',
          nim: '',
          jurusan: '',
          fakultas: '',
          angkatan: '',
          no_wa: '',
          alamat: '',
          
        }
      }
    },
    async mounted() {
      try {
        const token = localStorage.getItem('access_token')
        if (!token) {
          throw new Error('Token tidak tersedia di localStorage')
        }
  
        const user = await getProfile(token)
        console.log(user)
  
  
        this.formData = {
          name: user.name || '',
          nim: user.mahasiswa.nim || '',
          jurusan: user.mahasiswa.jurusan || '',
          fakultas: user.mahasiswa.fakultas || '',
          angkatan: user.mahasiswa.angkatan || '',
          no_wa: user.mahasiswa.no_wa || '',
          alamat: user.mahasiswa.alamat || '',
        }
      } catch (error) {
        console.error('Failed to fetch mitra details:', error)
      }
    },
    methods: {
      async submitForm() {
        try {
          const token = localStorage.getItem('access_token')
  
          if (!token) {
            throw new Error('Token tidak tersedia di localStorage')
          }
  
          const result = await editMahasiswa(token, this.formData)
          this.$router.push('/user/profil/data')
          console.log('Mitra updated successfully:', result)
        } catch (error) {
          console.error('Failed to update mitra:', error)
        }
      }
    }
  }
  </script>
  <style lang=""></style>
  