<script>
import { getProfile} from '../../../services/service';
export default {
    data() {
        return {
            showDropDown: false,
            showSide: true,
            profile: null
        };
    },
    async mounted() {
        await this.fetchProfile();
    },
    methods: {
        async fetchProfile() {
            try {
                const token = localStorage.getItem('access_token');
                if (!token) {
                    throw new Error('Access token not found');
                }

                this.profile = await getProfile(token);
                console.log('Profile fetched successfully:', this.profile);
            } catch (error) {
                console.error('Failed to fetch profile:', error);
            }
        }
    }
};
</script>
<template>
    <div class="overflow-y-scroll">
        <div class="">
            <div class="mt-5">
              <div class="my-10  flex">
                <div v-if="profile" class="w-1/2 space-y-2 ">
                  <div class=" grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">Nama Lengkap</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.name }}
                    </p>
                  </div>
                  <div class="grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">Jurusan</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.mahasiswa.jurusan }}
                    </p>
                  </div>
                  <div class="grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">Fakultas</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.mahasiswa.fakultas }}
                    </p>
                  </div>
                  <div class="grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">NIM</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.mahasiswa.nim}}
                    </p>
                  </div>
                  <div class="grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">Angkatan</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.mahasiswa.angkatan}}
                    </p>
                  </div>
                  <div class="grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">No. Whatsapp</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.mahasiswa.no_wa}}
                    </p>
                  </div>
                  <div class="grid grid-cols-2">
                    <h1 class="text-lg text-[#98A2B3]">Alamat</h1>
                    <p class="text-justify text-[#667085] font-semibold">
                      : {{ profile.mahasiswa.alamat}}
                    </p>
                  </div>
                  
                </div>
                <div v-else class="w-1/2">
                  <p>Data mahasiswa tidak ditemukan.</p>
                </div>
                <div>
                    <router-link
                      to="/user/profil/data/edit"
                      class="border-[#7F56D9] text-black border-2 px-5 py-3"
                    >
                      Edit Profil
                    </router-link>
                  </div>
                
              </div>
            </div>
          </div>
    </div>
</template>

