<template>
  <div class="">
    <div class="flex w-full justify-between">
      <div class="">
        <h1 class="text-3xl font-semibold">Edit Posisi Oprec {{ $route.params.id }}</h1>
      </div>
    </div>
    <div class="h-10 bg-gray-100 my-5 flex justify-between">
      <div class="flex w-2/5 items-center">
        <router-link to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
          <svg class="w-6 h-6" fill="#fff" viewBox="0 0 24 24" id="job" data-name="Flat Line"
            xmlns="http://www.w3.org/2000/svg" stroke="#fff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <rect id="secondary" x="5" y="5" width="14" height="18" rx="1" transform="translate(26 2) rotate(90)"
                style="fill: #fff; stroke-width: 2"></rect>
              <path id="primary"
                d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2m6,7V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                style="stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2"></path>
            </g>
          </svg>
          <span class="ml-3">Manajemen Oprec Posisi</span>
        </router-link>
        <span>></span>
        <router-link to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
          <span class="ml-3">Edit</span>
        </router-link>
      </div>
    </div>
    <div class="mt-5">
      <form @submit.prevent="submitForm" action="">
        <div class="flex w-full ">
          <div class="w-1/2 space-y-5">
            <div class="my-auto items-center md:w-full">
              <label for="">Nama Posisi</label>
              <div class="relative md:w-3/4">
                <input v-model="formData.nama" autocomplete="off" type="text" name="nama" placeholder="Jabatan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  required />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Deskripsi Posisi</label>
              <div class="relative md:w-3/4">
                <textarea v-model="formData.deskripsi" id="message" rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="ketik deskripsi posisi..."></textarea>
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Kriteria Posisi</label>
              <div class="relative md:w-3/4">
                <textarea v-model="formData.kriteria" id="message" rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="ketik deskripsi posisi..."></textarea>
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Tanggal Buka Pendaftaran</label>
              <div class="relative md:w-3/4">
                <input v-model="formData.tanggal_buka" autocomplete="off" type="date" name="tanggal_buka"
                  placeholder="Ketik jumlah kuota"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  required />
              </div>
            </div>
            <div class="my-auto items-center md:w-full">
              <label for="">Tanggal Tutup Pendaftaran</label>
              <div class="relative md:w-3/4">
                <input v-model="formData.tanggal_tutup" autocomplete="off" type="date" name="tanggal_tutup"
                  placeholder="Ketik jumlah kuota"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  required />
              </div>
            </div>

          </div>
          <div class="w-1/2 space-y-5">
            <div class="my-auto items-center md:w-full">
              <label for="">Kuota</label>
              <div class="relative md:w-3/4">
                <input v-model="formData.kuota" autocomplete="off" type="text" name="kuota"
                  placeholder="Ketik jumlah kuota"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  required />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Periode Kegiatan</label>
              <div class="relative md:w-3/4">
                <input v-model="formData.periode" autocomplete="off" type="text" name="periode"
                  placeholder="contoh: 1 bulan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  required />
              </div>
            </div>

            <div class="my-auto items-center md:w-full">
              <label for="">Benefit</label>
              <div class="relative md:w-3/4">
                <input v-model="formData.benefit" autocomplete="off" type="text" name="kriteria"
                  placeholder="contoh: 1 bulan"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                  required />
              </div>
            </div>
            <div class="">
              <button class="bg-[#7F56D9] w-2/5 text-white py-3 px-7 font-semibold rounded-lg">Simpan</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { showPosisi, editPosisi } from '../../../services/service';

export default {
  data() {
    return {
      posisi: null,
      formData: {
        nama: '',
        deskripsi: '',
        kriteria: '',
        benefit: '',
        tanggal_buka: '',
        tanggal_tutup: '',
        periode: '',
        kuota: '',
      }
    };
  },
  async mounted() {
    try {
      const posisiId = this.$route.params.id;
      console.log('Editing posisi with ID:', posisiId);

      this.fetchPosisi(posisiId);
    } catch (error) {
      console.error('Failed to fetch mitra details:', error)
    }
  },
  methods: {
    async fetchPosisi(posisiId) {
      try {
        const token = localStorage.getItem('access_token');
        if (!token) {
          throw new Error('Access token not found');
        }
        const response = await showPosisi(token, posisiId);
        this.posisi = response.posisi;
        this.formData = {
          nama: this.posisi.nama || '',
          deskripsi: this.posisi.deskripsi || '',
          kriteria: this.posisi.kriteria || '',
          benefit: this.posisi.benefit || '',
          tanggal_buka: this.posisi.tanggal_buka || '',
          tanggal_tutup: this.posisi.tanggal_tutup || '',
          periode: this.posisi.periode || '',
          kuota: this.posisi.kuota || '',
        }
        console.log('Posisi detail:', this.posisi);
      } catch (error) {
        console.error('Failed to fetch posisi detail:', error);
      }
    },
    async submitForm() {
      try {
        const posisiId = this.$route.params.id;
        console.log('Editing posisi with ID:', posisiId);

        this.fetchPosisi(posisiId);
        const token = localStorage.getItem('access_token')

        if (!token) {
          throw new Error('Token tidak tersedia di localStorage')
        }

        const result = await editPosisi(token, posisiId, this.formData)
        this.$router.push('/admin/posisi')
        console.log('Mitra updated successfully:', result)
      } catch (error) {
        console.error('Failed to update mitra:', error)
      }
    }
  },
};
</script>
<style lang=""></style>