<template>
  <div class="">
    <div class="flex w-full justify-between">
      <div class="">
        <h1 class="text-3xl font-semibold">Dashboard</h1>
      </div>
      <div class="">
        <router-link to="/admin/posisi/add" class="bg-[#7F56D9] text-white px-5 py-3 font-semibold rounded-lg">
          <span>+</span>
          <span class="ml-3">Tambah Posisi</span>
        </router-link>
      </div>
    </div>
    <div class="h-10 bg-gray-100 my-5 flex justify-between">
      <div class="">
        <router-link to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
          <svg class="w-6 h-6" fill="#fff" viewBox="0 0 24 24" id="job" data-name="Flat Line"
            xmlns="http://www.w3.org/2000/svg" stroke="#fff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <rect id="secondary" x="5" y="5" width="14" height="18" rx="1" transform="translate(26 2) rotate(90)"
                style="fill: #fff; stroke-width: 2"></rect>
              <path id="primary"
                d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2m6,7V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                style="
                stroke: #000;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2;
              "></path>
            </g>
          </svg>
          <span class="ml-3">Manajemen Oprec Posisi</span>
        </router-link>
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
          <tr>
            <th scope="col" class="px-6 py-3">ID Posisi</th>
            <th scope="col" class="px-6 py-3">Nama Posisi</th>
            <th scope="col" class="px-6 py-3">Tanggal Mulai Pendaftaran</th>
            <th scope="col" class="px-6 py-3">Tanggal Berakhir Pendaftaran</th>
            <th scope="col" class="px-6 py-3">Kuota</th>
            <th scope="col" class="px-6 py-3">Total Pendaftar</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(pos, index) in this.posisi" :key="index" class="bg-white border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              {{ pos.id }}
            </th>
            <td class="px-6 py-4">{{ pos.nama }}</td>
            <td class="px-6 py-4">{{ pos.tanggal_buka }}</td>
            <td class="px-6 py-4">{{ pos.tanggal_tutup }}</td>
            <td class="px-6 py-4">{{ pos.kuota }}</td>
            <td class="px-6 py-4"> </td>
            <td class="px-6 py-4">
              <div class="flex space-x-1">
                <router-link :to="`/admin/posisi/detail/${pos.id}`">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M27.1875 12.1875H12.8125C12.4668 12.1875 12.1875 12.4668 12.1875 12.8125V27.1875C12.1875 27.5332 12.4668 27.8125 12.8125 27.8125H19.8438C19.9297 27.8125 20 27.7422 20 27.6562V26.5625C20 26.4766 19.9297 26.4062 19.8438 26.4062H13.5938V13.5938H26.4062V19.8438C26.4062 19.9297 26.4766 20 26.5625 20H27.6562C27.7422 20 27.8125 19.9297 27.8125 19.8438V12.8125C27.8125 12.4668 27.5332 12.1875 27.1875 12.1875ZM22.7598 21.707L23.7793 20.6875C23.7999 20.6667 23.8144 20.6406 23.8209 20.6121C23.8274 20.5835 23.8258 20.5537 23.8163 20.5261C23.8067 20.4984 23.7896 20.4739 23.7668 20.4555C23.744 20.4371 23.7166 20.4254 23.6875 20.4219L20.1836 20.0117C20.084 20 19.998 20.084 20.0098 20.1855L20.4199 23.6895C20.4355 23.8184 20.5938 23.873 20.6855 23.7812L21.709 22.7578L26.7129 27.7617C26.7734 27.8223 26.873 27.8223 26.9336 27.7617L27.7617 26.9336C27.8223 26.873 27.8223 26.7734 27.7617 26.7129L22.7598 21.707Z"
                      fill="#667085" />
                  </svg>
                </router-link>
                <router-link :to="`/admin/posisi/edit/${pos.id}`">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_135_908)">
                      <path
                        d="M24.1665 12.4999C24.3854 12.2811 24.6452 12.1074 24.9312 11.989C25.2171 11.8705 25.5236 11.8096 25.8332 11.8096C26.1427 11.8096 26.4492 11.8705 26.7352 11.989C27.0211 12.1074 27.281 12.2811 27.4998 12.4999C27.7187 12.7188 27.8923 12.9786 28.0108 13.2646C28.1292 13.5506 28.1902 13.8571 28.1902 14.1666C28.1902 14.4761 28.1292 14.7826 28.0108 15.0686C27.8923 15.3546 27.7187 15.6144 27.4998 15.8333L16.2498 27.0833L11.6665 28.3333L12.9165 23.7499L24.1665 12.4999Z"
                        stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                      <clipPath id="clip0_135_908">
                        <rect width="20" height="20" fill="white" transform="translate(10 10)" />
                      </clipPath>
                    </defs>
                  </svg>

                </router-link>
                <button>
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.5 15.0001H14.1667M14.1667 15.0001H27.5M14.1667 15.0001V26.6667C14.1667 27.1088 14.3423 27.5327 14.6548 27.8453C14.9674 28.1578 15.3913 28.3334 15.8333 28.3334H24.1667C24.6087 28.3334 25.0326 28.1578 25.3452 27.8453C25.6577 27.5327 25.8333 27.1088 25.8333 26.6667V15.0001H14.1667ZM16.6667 15.0001V13.3334C16.6667 12.8914 16.8423 12.4675 17.1548 12.1549C17.4674 11.8423 17.8913 11.6667 18.3333 11.6667H21.6667C22.1087 11.6667 22.5326 11.8423 22.8452 12.1549C23.1577 12.4675 23.3333 12.8914 23.3333 13.3334V15.0001M18.3333 19.1667V24.1667M21.6667 19.1667V24.1667"
                      stroke="#F04438" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>

                </button>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { getPosisiByMitra } from '../../../services/service'

export default {
  data() {
    return {
      posisi: null,
    }
  },
  async mounted() {
    await this.fetchPosisi()
  },
  methods: {
    async fetchPosisi() {
      try {
        const token = localStorage.getItem('access_token')
        if (!token) {
          throw new Error('Access token not found')
        }

        const posisiResponse = await getPosisiByMitra(token)
        this.posisi = posisiResponse.posisi
        console.log('Posisi by mitra fetched successfully:', this.posisi)
      } catch (error) {
        console.error('Failed to fetch mitra details:', error)
      }
    },

  }
}
</script>
<style lang=""></style>
