<template>
  <div class="">
    <div class="flex w-full justify-between">
      <div class="">
        <h1 class="text-3xl font-semibold">Detail Posisi Oprec</h1>
      </div>
    </div>
    <div class="h-10 bg-gray-100 my-5 flex justify-between">
      <div class="flex w-2/5 items-center">
        <router-link to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
          <svg class="w-6 h-6" fill="#fff" viewBox="0 0 24 24" id="job" data-name="Flat Line"
            xmlns="http://www.w3.org/2000/svg" stroke="#fff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <rect id="secondary" x="5" y="5" width="14" height="18" rx="1" transform="translate(26 2) rotate(90)"
                style="fill: #fff; stroke-width: 2"></rect>
              <path id="primary"
                d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2m6,7V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                style="stroke: #000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2"></path>
            </g>
          </svg>
          <span class="ml-3">Manajemen Oprec Posisi</span>
        </router-link>
        <span>></span>
        <router-link to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out">
          <span class="ml-3">detail</span>
        </router-link>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex w-full ">
        <div v-if="posisi" class="w-1/2 space-y-5">
          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Nama Posisi</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.nama }}</h1>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Deskripsi Posisi</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.deskripsi }}</h1>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Kriteria Posisi</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.kriteria }}</h1>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Tanggal Buka Pendaftaran</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.tanggal_buka }}</h1>
            </div>
          </div>
          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Tanggal Tutup Pendaftaran</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.tanggal_tutup }}</h1>
            </div>
          </div>

        </div>
        <div class="" v-else>Belum ada data</div>
        <div v-if="posisi" class="w-1/2 space-y-5">
          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Kuota</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.kuota }}</h1>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Periode Kegiatan</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.periode }}</h1>
            </div>
          </div>

          <div class="my-auto items-center md:w-full">
            <label for="" class="font-semibold">Benefit</label>
            <div class="relative md:w-3/4">
              <h1>{{ posisi.benefit }}</h1>
            </div>
          </div>

        </div>
        <div class="" v-else>Belum ada data</div>

      </div>
    </div>
  </div>
</template>
<script>
import { showPosisi } from '../../../services/service'; // Sesuaikan dengan path service Anda

export default {
  data() {
    return {
      posisi: null, // Inisialisasi posisi dengan nilai null
    };
  },
  mounted() {
    const posisiId = this.$route.params.id;
    console.log('Editing posisi with ID:', posisiId);

    this.fetchPosisi(posisiId);
  },
  methods: {
    async fetchPosisi(posisiId) {
      try {
        const token = localStorage.getItem('access_token');
        if (!token) {
          throw new Error('Access token not found');
        }
        const response = await showPosisi(token, posisiId);
        this.posisi = response.posisi;
        console.log('Posisi detail:', this.posisi);
      } catch (error) {
        console.error('Failed to fetch posisi detail:', error);
      }
    },
  },
};
</script>

<style lang=""></style>