<template>
    <div>
        <div class="">
            <h1 class="text-2xl font-bold">Daftar Posisi Terbuka</h1>
        </div>
        <div class="py-10">
            <div v-if="posisi && posisi.length">
                <div v-for="item in posisi" :key="item.id"
                    class="relative posisi-item bg-white shadow-lg w-1/3 p-8 rounded-xl">
                    <div class="">
                        <h2 class="text-[#6941C6] font-semibold">{{ item.nama }}</h2>
                        <p class="py-5 text-xl font-bold">{{ item.mitra.nama }}</p>
                        <p class="">Jobdesc: {{ item.deskripsi }}</p>
                        <p>Kuota: {{ item.kuota }}</p>
                        <p>Periode: {{ item.periode }}</p>
                    </div> 
                    <router-link :to="`/user/recruitment/detail/${item.id}`" class="absolute top-8 right-8 cursor-pointer">
                        <svg width="16" height="16" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L11 1M11 1H1M11 1V11" stroke="#101828" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </router-link>

                    <!-- Add more fields as needed -->
                </div>
            </div>
            <div v-else>
                <p>No positions available.</p>
            </div>
        </div>
    </div>
</template>
<script>
import { getPosisiAll } from '../../../services/service'

export default {
    data() {
        return {
            posisi: null,
        }
    },
    async mounted() {
        await this.fetchPosisi()
    },
    methods: {
        async fetchPosisi() {
            try {
                const token = localStorage.getItem('access_token')
                if (!token) {
                    throw new Error('Access token not found')
                }

                const posisiResponse = await getPosisiAll(token)
                this.posisi = posisiResponse.posisi

                console.log('Posisi by mitra fetched successfully:', this.posisi)
            } catch (error) {
                console.error('Failed to fetch mitra details:', error)
            }
        },

    }
}
</script>
<style lang="">

</style>