<template>
  <div class="">
    <h1 class="text-3xl font-semibold">Dashboard</h1>
    <div class="h-10 bg-gray-100 my-5 flex justify-between">
      <div class="">
        <router-link
          to="/admin/dashboard"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-200 hover:text-gray-800 transition duration-400 ease-in-out"
        >
          <svg
            width="20"
            height="22"
            viewBox="0 0 20 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 21V11H13V21M1 8L10 1L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H3C2.46957 21 1.96086 20.7893 1.58579 20.4142C1.21071 20.0391 1 19.5304 1 19V8Z"
              stroke="#D0D5DD"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="ml-3">Dashboard</span>
        </router-link>
      </div>
    </div>
    <div class="flex flex-wrap space-y-5 lg:space-y-0 lg:space-x-5">
      <div class="bg-white rounded-lg w-72 h-44 shadow-md">
        <h1
          to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
          <svg
            class="w-6 h-6"
            fill="#fff"
            viewBox="0 0 24 24"
            id="job"
            data-name="Flat Line"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#fff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <rect
                id="secondary"
                x="5"
                y="5"
                width="14"
                height="18"
                rx="1"
                transform="translate(26 2) rotate(90)"
                style="fill: #fff; stroke-width: 2"
              ></rect>
              <path
                id="primary"
                d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2m6,7V8a1,1,0,0,0-1-1H4A1,1,0,0,0,3,8V20a1,1,0,0,0,1,1H20A1,1,0,0,0,21,20Z"
                style="
                  fill: #fff;
                  stroke: #000;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-width: 2;
                "
              ></path>
            </g>
          </svg>
          <span class="ml-3">Total Posisi</span>
        </h1>
        <h1 class="text-center mt-5 text-6xl">10</h1>
      </div>
      <div class="bg-white rounded-lg w-72 h-44 shadow-md">
        <h1
          to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
          <svg class="w-6 h-6"
            fill="#000000"
            height="200px"
            width="200px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 472.615 472.615"
            xml:space="preserve"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g>
                <g><circle cx="236.308" cy="142.868" r="70.203"></circle></g>
              </g>
              <g>
                <g>
                  <path
                    d="M325.514,234.831l-16.542-4.923l-72.665,72.763l-72.665-72.763l-16.542,4.923c-42.831,12.898-71.582,51.495-71.582,96.197 v82.511h321.575v-82.511C397.095,286.326,368.345,247.729,325.514,234.831z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M319.311,59.077c-11.9,0-23.306,3.208-33.317,8.938c24.209,16.125,40.208,43.645,40.208,74.849 c0,18.496-5.625,35.697-15.239,50.004c2.762,0.348,5.542,0.609,8.348,0.609c37.12,0,67.249-30.129,67.249-67.249 C386.56,89.205,356.431,59.077,319.311,59.077z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M404.283,213.169l-16.049-4.726l-23.555,23.556c32.136,21.917,52.11,58.372,52.11,99.029V384h55.827v-78.966 C472.615,262.4,445.145,225.477,404.283,213.169z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M186.621,68.015c-10.01-5.73-21.416-8.938-33.316-8.938c-37.12,0-67.249,30.128-67.249,67.151 c0,37.12,30.129,67.249,67.249,67.249c2.805,0,5.586-0.262,8.347-0.609c-9.614-14.306-15.239-31.508-15.239-50.004 C146.413,111.66,162.412,84.14,186.621,68.015z"
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d="M84.382,208.443l-15.951,4.726h-0.099C27.471,225.477,0,262.4,0,305.034V384h55.827v-52.972 c0-40.666,19.984-77.128,52.104-99.036L84.382,208.443z"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
          <span class="ml-3">Total Pendaftar</span>
        </h1>
        <h1 class="text-center mt-5 text-6xl">10</h1>
      </div>
      <div class="bg-white rounded-lg w-72 h-44 shadow-md">
        <h1
          to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
        <svg class="w-6 h-6"
        fill="#000000"
        height="200px"
        width="200px"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 472.615 472.615"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <g><circle cx="236.308" cy="142.868" r="70.203"></circle></g>
          </g>
          <g>
            <g>
              <path
                d="M325.514,234.831l-16.542-4.923l-72.665,72.763l-72.665-72.763l-16.542,4.923c-42.831,12.898-71.582,51.495-71.582,96.197 v82.511h321.575v-82.511C397.095,286.326,368.345,247.729,325.514,234.831z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M319.311,59.077c-11.9,0-23.306,3.208-33.317,8.938c24.209,16.125,40.208,43.645,40.208,74.849 c0,18.496-5.625,35.697-15.239,50.004c2.762,0.348,5.542,0.609,8.348,0.609c37.12,0,67.249-30.129,67.249-67.249 C386.56,89.205,356.431,59.077,319.311,59.077z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M404.283,213.169l-16.049-4.726l-23.555,23.556c32.136,21.917,52.11,58.372,52.11,99.029V384h55.827v-78.966 C472.615,262.4,445.145,225.477,404.283,213.169z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M186.621,68.015c-10.01-5.73-21.416-8.938-33.316-8.938c-37.12,0-67.249,30.128-67.249,67.151 c0,37.12,30.129,67.249,67.249,67.249c2.805,0,5.586-0.262,8.347-0.609c-9.614-14.306-15.239-31.508-15.239-50.004 C146.413,111.66,162.412,84.14,186.621,68.015z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M84.382,208.443l-15.951,4.726h-0.099C27.471,225.477,0,262.4,0,305.034V384h55.827v-52.972 c0-40.666,19.984-77.128,52.104-99.036L84.382,208.443z"
              ></path>
            </g>
          </g>
        </g>
      </svg>
          <span class="ml-3">Kuota Terbuka</span>
        </h1>
        <h1 class="text-center mt-5 text-6xl">10</h1>
      </div>
      <div class="bg-white rounded-lg w-72 h-44 shadow-md">
        <h1
          to="/message"
          class="inline-flex relative items-center py-[10px] px-[10px] w-full text-sm font-medium rounded-md border-gray-200 hover:bg-gray-300 hover:text-gray-800 transition duration-400 ease-in-out"
        >
        <svg class="w-6 h-6"
        fill="#000000"
        height="200px"
        width="200px"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 472.615 472.615"
        xml:space="preserve"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <g><circle cx="236.308" cy="142.868" r="70.203"></circle></g>
          </g>
          <g>
            <g>
              <path
                d="M325.514,234.831l-16.542-4.923l-72.665,72.763l-72.665-72.763l-16.542,4.923c-42.831,12.898-71.582,51.495-71.582,96.197 v82.511h321.575v-82.511C397.095,286.326,368.345,247.729,325.514,234.831z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M319.311,59.077c-11.9,0-23.306,3.208-33.317,8.938c24.209,16.125,40.208,43.645,40.208,74.849 c0,18.496-5.625,35.697-15.239,50.004c2.762,0.348,5.542,0.609,8.348,0.609c37.12,0,67.249-30.129,67.249-67.249 C386.56,89.205,356.431,59.077,319.311,59.077z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M404.283,213.169l-16.049-4.726l-23.555,23.556c32.136,21.917,52.11,58.372,52.11,99.029V384h55.827v-78.966 C472.615,262.4,445.145,225.477,404.283,213.169z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M186.621,68.015c-10.01-5.73-21.416-8.938-33.316-8.938c-37.12,0-67.249,30.128-67.249,67.151 c0,37.12,30.129,67.249,67.249,67.249c2.805,0,5.586-0.262,8.347-0.609c-9.614-14.306-15.239-31.508-15.239-50.004 C146.413,111.66,162.412,84.14,186.621,68.015z"
              ></path>
            </g>
          </g>
          <g>
            <g>
              <path
                d="M84.382,208.443l-15.951,4.726h-0.099C27.471,225.477,0,262.4,0,305.034V384h55.827v-52.972 c0-40.666,19.984-77.128,52.104-99.036L84.382,208.443z"
              ></path>
            </g>
          </g>
        </g>
      </svg>
          <span class="ml-3">Offering Staff</span>
        </h1>
        <h1 class="text-center mt-5 text-6xl">10</h1>
      </div>
    </div>
  </div>
</template>
